<div class="container">
    <div class="upper-section">
        <div class="selected-filters-container">
            <mat-chip-option selected="true" *ngFor="let selected of this.filterService.getSelectedFilters()" >{{selected.name}}:{{selected.value}}</mat-chip-option>
        </div>
        <button color="primary" (click)="onFilter()" mat-icon-button style="align-self: end;">
            <mat-icon>settings</mat-icon>
        </button>
        <!-- <mat-paginator #paginator  [length]="prod.length" [pageSize]="numOfArticles" [pageSizeOptions]="[5,10]" aria-label="Select page"></mat-paginator> -->
    </div>
    <div class="divider-section">
        <mat-divider></mat-divider>
    </div>
    <div class="spinner-container" *ngIf="(this.spinnerService.getLoadingStatus() | async)==true; else loading">
        <mat-spinner></mat-spinner>
    </div>
</div>

<ng-template #loading>
    <div style="display:flex; flex-direction:column; height: 100%;" *ngIf="page!=null && page.content.length>0; else empty">
        <div>
            <app-articles-list class="lower-section" [articles]="page.content"></app-articles-list>
        </div>
        <div class="paginator-container">
            <mat-paginator [hidePageSize]="true" [pageSize]="page.size"
            [pageIndex]="this.filterService.getPageNo()"
                [length]="page.totalElements" (page)="onPageChange($event)"></mat-paginator>
        </div>
    </div>
</ng-template>

<ng-template #empty>
    <div class="empty-list">
        <a>No articles are found!</a>
    </div>
</ng-template>