@import '../../../../_variables.scss';

.category-container {
    height: 35px;
    flex: 1;
    margin-right: 15px;
    padding-left: 8px;
    padding-right: 5px;
    display: flex;
    font-size: 18px;
    font-weight: 200;
    align-items: center;
    background-color: transparent;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    color: map-get($map: $md-dark-blue, $key:500 );
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    -ms-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
  }

  .category-container:hover {
    background-color: map-get($md-light-blue, 200);
  }
  

  .category-active{
    background-color: map-get($map: $md-light-blue, $key:700 );
    color:white;
    font-weight:500;
  } 

