.category-container {
    height: 35px;
    flex: 1;
    margin-right: 15px;
    padding-left: 8px;
    padding-right: 5px;
    display: flex;
    font-size: 18px;
    font-weight: 200;
    align-items: center;
    background-color: transparent;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    color:#4B4944;
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    -ms-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
  }

  .category-container:hover {
    background-color: #d7c99c;
  }
  
  .category-container:active {
    background-color: #D3AC2B;
  }

  .category-active{
    background-color: #D3AC2B;
    color:white;
    font-weight:500;
  } 

  .category-active:hover{
    background-color: #D3AC2B;
  }