<div class="main-container">
    <div class="sort-controls-container">
        <mat-chip-listbox>
            <mat-chip-option>By date</mat-chip-option>
            <mat-chip-option>By price</mat-chip-option>
        </mat-chip-listbox>
    </div>
    <form>
        <div class="title-container">
            <a>Price</a>
        </div>
        <div class="controls-container">
            <mat-form-field>
                <input matInput placeholder="From">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="To">
            </mat-form-field>
        </div>
        <div class="filter-button-container">
            <button mat-flat-button>Filter</button>
        </div>
    </form>
</div>
