.main-container{
    position: relative;
    display:flex;
    flex-direction: column;
    max-height:80vh;
    flex:1;
    align-items: center;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:30px;
    padding-right:30px;
}

mat-button-toggle-group{
    height:30px;
    align-items: center;
}

.sort-controls-container{
    display:flex;
    flex:1;
    width:100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom:20px;
}

.heading-controls-container{
    display:flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom:20px;
}

.radio-buttons-container{
    display:flex;
    flex:1;
    justify-content: flex-start;
    align-self: flex-start;
}

.title-container{
    margin-bottom:10px;
    margin-left:5px;
}

.title-container a{
    font-size: 1.2rem;
    font-weight: 300;
}

.controls-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    width:100%;
}

.buttons-container
{
    display:flex;
    width:100%;
    justify-content: space-between;
}

.filter-button-container button{
    background-color:yellow;
}