<div class="main-container">
    <div class="sort-controls-container">
        <div class="heading-controls-container">
        <mat-chip-listbox [(ngModel)]="orderBy">
            <mat-chip-option selected="true" value="date">By date</mat-chip-option>
            <mat-chip-option value="price">By price</mat-chip-option>
        </mat-chip-listbox>
        <mat-button-toggle-group [(value)]="choosenDesc">
            <mat-button-toggle [value]="true" matTooltip="Descending"><mat-icon>keyboard_arrow_down</mat-icon></mat-button-toggle>
            <mat-button-toggle [value]="false" matTooltip="Ascending"><mat-icon>keyboard_arrow_up</mat-icon></mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class="radio-buttons-container">
        <mat-radio-group [(ngModel)]="articleState" color="primary" aria-label="Select an option">
            <mat-radio-button value="all">All</mat-radio-button>
            <mat-radio-button value="new">New</mat-radio-button>
            <mat-radio-button value="used">Used</mat-radio-button>
        </mat-radio-group>        
    </div>  
    </div>
    <form [formGroup]="formFilters">
        <div class="title-container">
            <a>Price</a>
        </div>
        <div class="controls-container">
            <mat-form-field>
                <input formControlName="priceFrom" matInput placeholder="From">
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="priceTo" placeholder="To">
            </mat-form-field>
        </div>
    </form>
    <form [formGroup]="attFormGroup">
        <div class="controls-container">
            <mat-form-field *ngFor="let cat of filterService.attrState">
                <mat-label>{{cat.viewName}}</mat-label>
                <mat-select formControlName="{{cat.queryName}}">
                    <mat-option *ngFor="let o of cat.content" value="{{o}}">
                        {{o}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
    <div class="buttons-container">
        <button (click)="reset()" color="primary" mat-stroked-button>Reset</button>
        <button (click)="submit()" color="primary" mat-flat-button>Filter</button>
    </div>
</div>
