<div class="container">
    <div class="upper-section">
        <button (click)="onFilter()" mat-icon-button style="align-self: end;">
            <mat-icon>settings</mat-icon>
        </button>
        <!-- <mat-paginator #paginator  [length]="prod.length" [pageSize]="numOfArticles" [pageSizeOptions]="[5,10]" aria-label="Select page"></mat-paginator> -->
    </div>
    <div class="divider-section">
        <mat-divider></mat-divider>
    </div>
    <div class="spinner-container" *ngIf="(this.spinnerService.getLoadingStatus() | async)==true; else loading">
        <mat-spinner></mat-spinner>
    </div>
</div>

<ng-template #loading>
    <div style="display:flex; flex-direction:column; height: 100%;" *ngIf="page!=null; else empty">
        <div>
            <app-articles-list [articles]="page.content"></app-articles-list>
        </div>
        <div class="paginator-container">
            <mat-paginator [hidePageSize]="true" [pageSize]="page.size"
            [pageIndex]="currentPage"
                [length]="page.totalElements" (page)="onPageChange($event)"></mat-paginator>
        </div>
    </div>
</ng-template>

<ng-template #empty>Prazna lista</ng-template>