.container{
    display:flex;
    flex:1;
    flex-direction: column;
    margin-bottom:20px;
}

.upper-section
{
    margin-top:10px;
    margin-bottom:10px;
    flex:1;
    height: 50px;
}

.divider-section{
    flex:1;
    padding-left: 15px;
    padding-right:15px;
}

