<div class="spinner-container" *ngIf="this.spinnerService.getLoadingStatus()|async; else content">
    <mat-spinner></mat-spinner>
</div>

<ng-template #content>
    <div class="dialog-contianer" *ngIf="innerState.length>0; else empty">
        <form [formGroup]="attributeFormGroup">
            <ng-container *ngFor="let att of innerState">
                <mat-form-field appearance="outline">
                    <mat-label>
                        {{att.viewName}}
                    </mat-label>
                    <input *ngIf="att.multivalue===false" matInput formControlName="{{att.viewName}}">
                    <mat-select *ngIf="att.multivalue" formControlName="{{att.viewName}}">
                        <mat-option value="{{cont}}" *ngFor="let cont of att.content">{{cont}}</mat-option>
                    </mat-select> 
                </mat-form-field>
            </ng-container>
        </form>
        <button mat-flat-button (click)="onNoClick()">Potvrdi</button>
    </div>
</ng-template>

<ng-template #empty>
    <div class="dialog-contianer">
        <a class="message">Nema definisanih osobina za ovu kategoriju!</a>
        <button mat-flat-button (click)="onNoClick()">Izadji</button>
    </div>
</ng-template>