<div class="main-container">
    <div class="left-container">
        <mat-card class="login-card">
            <form [formGroup]="loginForm">
                <mat-form-field appearance="outline">
                    <mat-label>Korisničko ime</mat-label>
                    <input [(ngModel)]="usernameValue" matInput formControlName="username">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Lozinka</mat-label>
                    <input [(ngModel)]="passwordValue" matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </form>
            <button [disabled]="disabledButton" class="login-button" mat-flat-button color="primary" (click)="onSubmit()">Prijavi se</button>
            <div [routerLink]="['/register']" class="register-link">Nisi registrovan?</div>
        </mat-card>
    </div>
    <div class="right-container">
        <div class="image-container">
            <img src="assets/illust.png">
        </div>
    </div>
</div>