.container{
    display:flex;
    flex:1;
    flex-direction: column;
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.upper-section
{
    margin-top:10px;
    margin-bottom:10px;
    height: 50px;
    display:flex;
    flex-direction: row;
}

.selected-filters-container{
    display:flex;
    flex:1;
    flex-direction: row;
    background-color: transparent;
    align-items: center;
}

.divider-section{
    padding-left: 15px;
    padding-right:15px;
}

.spinner-container
{
    display:flex;
    justify-content: center;
    align-items: center;
    flex:1;
    flex-direction: column;
}

.paginator-container{
    display: flex;
    flex:1;
    justify-self: flex-end;
    align-self: flex-end;
}

.paginator-container > mat-paginator{
    align-self:end;
    background-color: #e7e7e7;
}

.lower-section {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
    display: grid;
    flex: 1;
    row-gap: 40px;
    column-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr
}


@media (max-width: 300px) {
    .lower-section {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 300px) and (max-width:750px) {
    .lower-section {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 750px) and (max-width: 900px) {
    .lower-section {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:900px) and (max-width: 1050px) {
    .lower-section {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width:1050px) {
    .lower-section {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

