@import '../../_variables.scss';

.main-container {
    display: flex;
    flex: 1;
    background-color: #e7e7e7;
    justify-content: center;
    flex-direction: row;
    min-height:100%
}

.middle-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 20px;
    max-width: 60%;
    width: 60%;
}

.title-style {
    font-weight: 100;
    color:map-get($map: $md-dark-blue, $key: 500);
    font-size:22px;
    font-style: normal;
}

.info-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
    margin-right:10px;
    margin-left:5px;
}

.more-options-button{
    background-color:transparent;
    border:none;
    border-radius:50%;
}



.header-container{
    display:flex;
    flex:1;
    flex-direction:column;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.price-container{
    display:flex;
    flex:1;
    justify-content: space-between;
    flex-direction: row;
}

.price-container>a{
    font-weight: 400;
    font-size:22px;
    color:map-get($md-light-blue,600);
    align-self: center;
}

.price-container>button{
    padding-top:5px;
    padding-bottom:5px;
    padding-right:15px;
    padding-left:15px;
    border-radius:7px;
    background-color:map-get($md-gold-yellow,800);
    color:#F4F3EA;
    border:none;
    cursor:pointer;
    font-weight: 600;
    font-size:16px;
    align-self: center;
}

.is-used{
    margin-left: 30px;
    margin-top:10px;
    margin-bottom:10px;
    display:flex;
}

.border-attr{
    display:flex;
    padding:5px;
    padding-right:8px;
    padding-left:8px;
    border:none;
    border-radius:15px;
    background-color: map-get($md-light-blue, 700);
}

.border-attr > a{
    color: map-get($md-silver-gray,400);
    font-weight: bold;
    font-size:16px;
}

.attributes-style{
    margin:10px;
    font-weight: 500;
    color:map-get($map: $md-dark-blue, $key:300 );
}

.attributes-container{
    margin-top:10px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom:25px;
    min-height: 30px;
    display: grid;
    flex:1;
    grid-template-columns: 1fr 1fr;
    column-gap:20px;
}

.attribute-name{
    color: map-get($md-dark-blue,400);
    font-weight: bold;
    font-size:16px;
}

.attribute-value{
    color:black;
    font-weight: 200;
    font-size:16px;
}

.single-attribute-container{
    display:flex;
    justify-content: space-between;
    margin-top:10px;
    border-bottom: solid 1px;
    border-color:rgb(216, 216, 216)
}

.details{
    margin-right: 30px;
    margin-left: 30px;
    font-weight: 100;
    margin-bottom:20px;
    margin-top:20px;
}

.post-comment-container{
    display:flex;
    flex:1;
    flex-direction: column;
    margin-top:20px;
}

.post-comment-container > mat-form-field{
    margin-left: 30px;
    margin-right:30px;
}

.post-comment-container > mat-form-field > textarea{
    background-color: white;
}

.post-comment-container > button {
    margin-right:30px;
    align-self:flex-end;
    background-color: #333D51;
    color:#F4F3EA
}

.post-comment-container > form{
    display:flex;
    flex:1;
    flex-direction:column;
}

.post-comment-container > form > button{
    align-self:flex-end;
}

.side-container{
    width:200px;
    display:flex;
    flex-direction: column;
    align-self: flex-start;
    position:sticky;
    margin-top:103px;
    margin-left:20px;
    top:0px;
}

.overeview-nav-container{
    display:flex;
    flex:1;
    flex-direction:column;
    padding:10px;
    align-items: flex-start;
}

.comment .header{
    display:flex; flex:1; justify-content:space-between; margin-bottom:20px;
}

.comments-section{
    margin-top:30px;
    display:flex;
    flex:1;
    flex-direction:column;
}

.scroll-nav-button{
    font-size: 14px;
    margin-bottom:5px;
    background-color: transparent;
    color:map-get($md-light-blue,600);
    border: none;
    cursor:pointer;
}

.comment{
    margin-left:30px;
    margin-right: 30px;
    margin-bottom:10px;
    padding:10px;
    display:flex;
    flex:1;
    flex-direction: column;
    background-color:map-get($md-silver-gray, 300);
    border-radius:3px;
    border:1px solid #333D51;
}

.comment .com-username{
    font-weight: 500;
    font-size: 16px;
}

.comment .com-date{
    font-weight:200;
    font-size:16px;
}

.comment .com-content{
    font-weight: 300;
    font-size: 18px;
}

.username{
    font-weight: bolder;
    font-size: medium;
    color:map-get($md-dark-blue,500)
}

.city{
    font-weight: lighter;
    font-size: 14px;
    color:map-get($md-dark-blue, 200)
}

.user-info-container{
    background-image: linear-gradient(to top, rgba(255,0,0,0), map-get($md-silver-gray,200));
    display:flex;
    flex-direction: row;
    flex:1;
    margin-right:10px;
    margin-left:10px;
    padding:5px;
    border-radius:4px;
    padding-bottom:15px;
}

.spinner-container
{
    display: flex;
    flex-direction:column;
    flex:1;
    justify-content: center;
    align-items: center;
}

.title-container{
    display:flex;
    flex:1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom:10px;
}

.date{
    font-weight: 100;
    font-style: italic;
    color:rgb(114, 114, 114)
}

mat-divider{
    margin-bottom:10px;
}

.no-images{
    height: 100px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-images > a{
    color:gray;
}

@media(max-width:700px)
{
    .middle-container{
        margin-top:0px;
        width: 100%;
        max-width: 100%;
        border-radius: 0px;
    }
}