.main-container {
    display: flex;
    flex: 1;
    background-color: rgb(229, 229, 229);
    justify-content: center;
    flex-direction: column;
    min-height:100%
}

.middle-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-width: 68%;
    width: 68%;
    background-color: rgb(243, 243, 243);
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.title-style {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    font-weight: 100;
}

.image-container {
    align-self: center;
    flex:1

}

.image-style {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(131, 131, 131);
    border-radius: 10px;
    width: 100%;
}

.image-list-container {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-width: 1px;
    border-radius: 2px;
    border-color: rgb(64, 74, 174);
    border-style: solid;
    overflow: auto;
    white-space: nowrap;
    align-items: center;
}
.image-list-container div{
    padding:3px;
    display: inline-block;
    align-self: center;
}

.attributes-style{
    margin:10px;
    font-weight: 200;
    color:blueviolet;
}

.attributes-container{
    margin-top:10px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom:25px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(199, 199, 199);
    border-radius: 7px;
    height: 200px;
}

.details{
    margin-right: 30px;
    margin-left: 30px;
    font-weight: 100;
    margin-bottom:20px;
}

.images-section
{
    max-height: 400px;
    align-self: center;
    display: flex;
    flex:1;
    flex-direction: row;
}

.images-list-container
{
    border-width: 2px;
    border-style: solid;
    border-color: rgb(199, 199, 199);
    border-radius: 7px;
    width:20%;
    overflow: auto;
    padding-top:5px;
    padding-bottom:5px;
    margin-left: 30px;
    max-height: 350px;
}

.spinner-container
{
    display: flex;
    flex-direction:column;
    flex:1;
    justify-content: center;
    align-items: center;
}

@media(max-width:700px)
{
    .middle-container{
        margin-top:0px;
        width: 100%;
        max-width: 100%;
        border-radius: 0px;
    }
}