.main-container {
    display: flex;
    flex: 1;
    background-color: #F4F3EA;
    justify-content: center;
    flex-direction: row;
    min-height:100%
}

.middle-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 20px;
    max-width: 68%;
    width: 68%;
}

.title-style {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    font-weight: 100;
}

.image-container {
    align-items: center;
    display:flex;
    flex:1;
    padding:20px;
    justify-content: center;
}

.image-style {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(131, 131, 131);
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    object-fit:contain;
}

.image-list-container {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-width: 1px;
    border-radius: 2px;
    border-color: rgb(64, 74, 174);
    border-style: solid;
    overflow: auto;
    white-space: nowrap;
    align-items: center;
}
.image-list-container div{
    padding:3px;
    display: inline-block;
    align-self: center;
}

.attributes-style{
    margin:10px;
    font-weight: 200;
    color:blueviolet;
}

.attributes-container{
    margin-top:10px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom:25px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(199, 199, 199);
    border-radius: 7px;
    height: 200px;
}

.details{
    margin-right: 30px;
    margin-left: 30px;
    font-weight: 100;
    margin-bottom:20px;
}

.images-section
{
    min-height: 200px;
    max-height: 600px;
    display: flex;
    flex:1;
    flex-direction: row;
}

.images-list-container
{
    border-width: 2px;
    border-style: solid;
    border-color: rgb(199, 199, 199);
    border-radius: 7px;
    width:120px;
    overflow: auto;
    padding-top:5px;
    padding-bottom:5px;
    margin-left: 30px;
}

.post-comment-container{
    display:flex;
    flex:1;
    flex-direction: column;
}

.post-comment-container > mat-form-field{
    margin-left: 50px;
    margin-right:50px;
}

.post-comment-container > button {
    margin-right:50px;
    align-self:flex-end;
    background-color: #333D51;
    color:#F4F3EA
}

.side-container{
    width:200px;
    display:flex;
    flex-direction: column;
    align-self: flex-start;
    position:sticky;
    margin-top:90px;
    margin-left:20px;
    top:0px;
}

.overeview-nav-container{
    display:flex;
    flex:1;
    flex-direction:column;
    padding:10px;
    align-items: flex-start;
}

.scroll-nav-button{
    font-size: 14px;
    margin-bottom:5px;
    background-color: transparent;
    color:#D3AC2B;
    border: none;
    cursor:pointer;
}

.username{
    font-weight: bolder;
    font-size: medium;
    color:#333D51
}

.city{
    font-weight: lighter;
    font-size: 14px;
    color:rgb(106, 106, 106)
}

.user-info-container{
    background-color: white;
    display:flex;
    flex-direction: column;
    flex:1;
    margin-right:10px;
    margin-left:10px;
    padding:5px;
}

.spinner-container
{
    display: flex;
    flex-direction:column;
    flex:1;
    justify-content: center;
    align-items: center;
}

@media(max-width:700px)
{
    .middle-container{
        margin-top:0px;
        width: 100%;
        max-width: 100%;
        border-radius: 0px;
    }
}