<div class="main-container">
    <div class="middle-container" *ngIf="(this.spinnerService.visibility | async) === true; else content">
        <div class="spinner-container">
            <mat-spinner></mat-spinner>
        </div>
    </div>

</div>

<ng-template #loading>

</ng-template>

<ng-template #content>
    <section style="display: flex; flex-direction: row; flex:1; justify-content: center;"
        *ngIf="product$ | async; let prod; else empty">
        <div class="middle-container">
            <div class="header-container">
                <div class="title-container">
                    <a class="title-style">{{prod.title}}</a>
                    <a class="date">{{prod.date | date: 'dd-MM-yyyy'}}</a>
                </div>
                <div class="price-container">
                    <a>{{prod.price}}KM</a>
                    <button>Kupi</button>
                </div>
            </div>
            <mat-divider></mat-divider>
            <h2 #slike class="attributes-style">Slike</h2>
            <div class="images-section">
                <div class="image-container">
                    <img src="assets/laptop.jpg" class="image-style">
                </div>
                <div class="images-list-container">
                    <mat-list>
                        <mat-list-item *ngFor="let num of [1,2,3,4,5,7,32,4,2]">
                            <div>
                                <img src="assets/laptop.jpg" style="width: 100%;">
                            </div>
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
            <h2 #osobine class="attributes-style">Osobine</h2>
            <div class="attributes-container">
                <div class="single-attribute-container" *ngFor="let att of prod.attributes">
                    <a class="attribute-name">{{att.name}}</a>
                    <a class="attribute-value">{{att.value}}</a>
                </div>
                <!-- <table>
                    <tbody>
                        <tr *ngFor="let att of prod.attributes">
                            <th>{{att.name}}</th>
                            <th>{{att.value}}</th>
                        </tr>
                    </tbody>
                </table> -->
            </div>
            <h2 #detalji class="attributes-style">Detalji</h2>
            <a class="details">{{prod.details}}</a>
            <h2 #komentari class="attributes-style">Komentari</h2>
            <div class="post-comment-container">
                <mat-form-field appearance="outline">
                    <mat-label>Komentar</mat-label>
                    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"></textarea>
                </mat-form-field>
                <button mat-flat-button>Postavi</button>
            </div>
        </div>
        <div class="side-container">
            <div class="user-info-container">
                <a class="username">{{prod.user.username}}</a>
                <a class="city">{{prod.user.locationName}}</a>
            </div>
            <div class="overeview-nav-container">
                <button (click)="scroll(slike)" class="scroll-nav-button">Slike</button>
                <button (click)="scroll(osobine)" class="scroll-nav-button">Osobine</button>
                <button (click)="scroll(detalji)" class="scroll-nav-button">Detalji</button>
                <button (click)="scroll(komentari)" class="scroll-nav-button">Komentari</button>
            </div>
        </div>
    </section>
</ng-template>

<ng-template #empty>
    <a> EMPTY </a>
</ng-template>