.main-container {
    display: flex;
    flex: 1;
    background-color: #F4F3EA;
    justify-content: center;
    flex-direction: row;
    min-height:100%
}

.middle-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 20px;
    max-width: 60%;
    width: 60%;
}

.title-style {
    font-weight: 100;
    color:#333D51;
    font-size:22px;
    font-style: normal;
}

.info-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
    margin-right:10px;
    margin-left:5px;
}

.more-options-button{
    background-color:transparent;
    border:none;
    border-radius:50%;
}



.header-container{
    display:flex;
    flex:1;
    flex-direction:column;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.price-container{
    display:flex;
    flex:1;
    justify-content: space-between;
    flex-direction: row;
}

.price-container>a{
    font-weight: 700;
    font-size:22px;
    color:#333D51;
    align-self: center;;
}

.price-container>button{
    padding-top:5px;
    padding-bottom:5px;
    padding-right:15px;
    padding-left:15px;
    border-radius:7px;
    background-color:#D3AC2B;
    color:#F4F3EA;
    border:none;
    cursor:pointer;
    font-weight: 600;
    font-size:16px;
    align-self: center;
}

.image-container {
    align-items: center;
    display:flex;
    flex:1;
    justify-content: center;
    margin-left:10px;
}

.image-style {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(131, 131, 131);
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    object-fit:contain;
    flex:1;
}

.image-list-container {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-width: 1px;
    border-radius: 2px;
    border-color: rgb(64, 74, 174);
    border-style: solid;
    overflow: auto;
    white-space: nowrap;
    align-items: center;
}
.image-list-container div{
    padding:3px;
    display: inline-block;
    align-self: center;
}

.attributes-style{
    margin:10px;
    font-weight: 500;
    color:#333D51;
}

.attributes-container{
    margin-top:10px;
    margin-right: 50px;
    margin-left: 30px;
    margin-bottom:25px;
    min-height: 60px;
    display: grid;
    flex:1;
    grid-template-columns: 1fr 1fr;
}

.attribute-name{
    color:rgb(57, 57, 57);
    font-weight: bold;
    font-size:16px;
}

.attribute-value{
    color:black;
    font-weight: 200;
    font-size:16px;
}

.single-attribute-container{
    display:flex;
    justify-content: space-between;
    margin-right: 60px;
    margin-top:10px;
    border-bottom: solid 1px;
    border-color:rgb(216, 216, 216)
}

.details{
    margin-right: 30px;
    margin-left: 30px;
    font-weight: 100;
    margin-bottom:20px;
    margin-top:20px;
}

.images-section
{
    min-height: 200px;
    max-height: 600px;
    display: flex;
    flex:1;
    flex-direction: row;
    padding:20px;
}

.images-list-container
{
    border-width: 2px;
    border-style: solid;
    border-color: rgb(199, 199, 199);
    border-radius: 7px;
    width:120px;
    overflow: auto;
    padding-top:5px;
    padding-bottom:5px;
    margin-left: 30px;
}

.post-comment-container{
    display:flex;
    flex:1;
    flex-direction: column;
    margin-top:20px;
}

.post-comment-container > mat-form-field{
    margin-left: 30px;
    margin-right:30px;
}

.post-comment-container > mat-form-field > textarea{
    background-color: white;
}

.post-comment-container > button {
    margin-right:30px;
    align-self:flex-end;
    background-color: #333D51;
    color:#F4F3EA
}

.side-container{
    width:200px;
    display:flex;
    flex-direction: column;
    align-self: flex-start;
    position:sticky;
    margin-top:90px;
    margin-left:20px;
    top:0px;
}

.overeview-nav-container{
    display:flex;
    flex:1;
    flex-direction:column;
    padding:10px;
    align-items: flex-start;
}

.comments-section{
    margin-top:20px;
    display:flex;
    flex:1;
    flex-direction:column;
}

.scroll-nav-button{
    font-size: 14px;
    margin-bottom:5px;
    background-color: transparent;
    color:#D3AC2B;
    border: none;
    cursor:pointer;
}

.comment{
    margin-left:30px;
    margin-right: 30px;
    margin-bottom:10px;
    padding:10px;
    display:flex;
    flex:1;
    flex-direction: column;
    background-color:rgb(232, 232, 232);
    border-radius:5px;
    border:1px solid #333D51;
}

.username{
    font-weight: bolder;
    font-size: medium;
    color:#333D51
}

.city{
    font-weight: lighter;
    font-size: 14px;
    color:rgb(106, 106, 106)
}

.user-info-container{
    background-color: white;
    display:flex;
    flex-direction: row;
    flex:1;
    margin-right:10px;
    margin-left:10px;
    padding:5px;
}

.spinner-container
{
    display: flex;
    flex-direction:column;
    flex:1;
    justify-content: center;
    align-items: center;
}

.title-container{
    display:flex;
    flex:1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom:10px;
}

.date{
    font-weight: 100;
    font-style: italic;
    color:rgb(114, 114, 114)
}

mat-divider{
    margin-bottom:10px;
}

@media(max-width:700px)
{
    .middle-container{
        margin-top:0px;
        width: 100%;
        max-width: 100%;
        border-radius: 0px;
    }
}