<div class="main-container">
    <mat-card>
        <div class="payment-options" *ngIf="successfullyPayed==false">
            <p>To continue, select which type of payment you would like to use!</p>
            <mat-radio-group [(ngModel)]="selectedOption">
                <mat-radio-button value="card">Pay with Card</mat-radio-button>
                <mat-radio-button value="arrival">Pay on Arrival</mat-radio-button>
            </mat-radio-group>
        </div>
            <div class="step-container" *ngIf="selectedOption === 'card' && successfullyPayed==false">
                <p>Fill out your card information!</p>
                <form [formGroup]="cardGroup">
                    <mat-form-field appearance="outline">
                        <mat-label>Write your card number</mat-label>
                        <input matInput placeholder="Card number">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Enter your pin</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </form>
            </div>
            <div class="step-container" *ngIf="selectedOption==='arrival' && successfullyPayed==false">
                <p>Enter your address!</p>
                <form [formGroup]="arriveGroup">
                    <mat-form-field appearance="outline">
                        <mat-label>Write your address</mat-label>
                        <input matInput placeholder="Card number">
                    </mat-form-field>
                </form>
            </div>
            <div class="submit-button" *ngIf="successfullyPayed==false; else message">
                <button mat-flat-button (click)="onBuy()" color="primary">Buy</button>
            </div>
    </mat-card>
</div>

<ng-template #message>
    <div class="message-container">
        <div class="message-style">
            <a>Congradulations! Article is bought successfully!</a>
        </div>
        <button mat-raised-button (click)="backToHome()" color="primary">Main page</button>
    </div>    
</ng-template>


