<div class="main-container">
    <div class="profile-container">
        <div class="upper-container">
            <div class="avatar-container">
                <img src="assets/laptop.jpg" class="avatar-image">
            </div>
            <button  mat-icon-button>
                <mat-icon>home</mat-icon>
            </button>
        </div>
        <a>Username</a>
        <a>City</a>
    </div>
    <div class="articles-container">
        <mat-tab-group>
            <mat-tab label="Aktivno">Content1</mat-tab>
            <mat-tab label="Zavrseno">Content2</mat-tab>
            <mat-tab label="Kupljeno">Content3</mat-tab>
        </mat-tab-group>
    </div>

</div>