<div class="main-container">
    <div class="content" *ngIf="(this.spinnerService.getLoadingStatus() | async) === false; else loading">
        <div class="profile-container" *ngIf="user!=null">
            <div class="upper-container">
                <div class="avatar-container">
                    <img *ngIf="user.userAvatar; else noavatar" [src]="'assets/' + user.userAvatar.toString() + '.png'" class="avatar-image">
                </div>
            </div>
            <a class="username">{{user.username}}</a>
            <a class="city">{{user.userLocationName}}</a>
            <div class="button-section">
                <button mat-raised-button color="primary" (click)="onEditProfile()" *ngIf="this.isAuthenticatedUser()">Edit profile</button>
                <button mat-raised-button color="primary" (click)="showContact()">Show contact</button>
            </div>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="articles-container">
            <mat-tab-group style="display:flex; flex:1; height:100%">
                <mat-tab label="Aktivno">
                    <div style="display:flex; flex:1; height:100%; flex-direction:column"  *ngIf="activeProducts!=null">
                        <app-articles-list class="lower-section"
                            [articles]="activeProducts.content"></app-articles-list>
                        <div class="paginator-container">
                            <mat-paginator [hidePageSize]="true" [pageSize]="activeProducts.pageSize"
                                [pageIndex]="activeProdPage"
                                [length]="activeProducts.numberOfElements" (page)="activePageChange($event)"></mat-paginator>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Zavrseno">
                    <div style="display:flex; flex:1; height:100%; flex-direction:column" *ngIf="soldProducts!=null">
                        <app-articles-list class="lower-section"
                            [articles]="soldProducts.content"></app-articles-list>
                        <div class="paginator-container">
                            <mat-paginator [hidePageSize]="true" [pageSize]="soldProducts.pageSize"
                                [pageIndex]="soldProdPage"
                                [length]="soldProducts.numberOfElements" (page)="soldPageChange($event)"></mat-paginator>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab *ngIf="this.isAuthenticatedUser()" label="Kupljeno">
                    <div style="display:flex; flex:1; height:100%; flex-direction:column" *ngIf="boughtProducts!=null">
                        <app-articles-list class="lower-section"
                            [articles]="boughtProducts.content"></app-articles-list>
                        <div class="paginator-container">
                            <mat-paginator [hidePageSize]="true" [pageSize]="boughtProducts.pageSize"
                                [pageIndex]="boughtProdPage"
                                [length]="boughtProducts.numberOfElements" (page)="boughtPageChange($event)"></mat-paginator>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>

        </div>
    </div>
</div>

<ng-template #loading>
    <div class="spinner-container">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>

<ng-template #noavatar>
    <mat-icon style="font-size:50px; height: 50px; width:50px;">account_circle</mat-icon>
</ng-template>