<div class="whole-section">
  <div class="header-section" color="primary">
    <div class="hamburger-button">
      <button color="accent" type="button" aria-label="Toggle sidenav" (click)="toggle()" mat-icon-button>
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </div>
    <div class="logo-section" (click)="mainNav()">
        <img src="assets/Logo.png">
    </div>
    <div class="search-section">
      <!-- <mat-form-field class="form">
        <mat-label>Search article</mat-label>
        <input matInput fxFlex placeholder="Ex. Golf 5" value="">
      </mat-form-field> -->
      <form [formGroup]="searchGroup" (ngSubmit)="search()" class="searchForm">
        <input formControlName="search" type="text" class="searchTerm" placeholder="Search">
        <button  class="searchButton" type="submit">
          <mat-icon style="color:white">search</mat-icon>
        </button>
      </form>
      
      <!-- <button type="submit" class="searchButton">
        <mat-icon style="width:20px; height:20px">search</mat-icon>
     </button> -->
    </div>
    <div class="options-section" *ngIf="this.authService.isAuthenticated()===false else profileMenu">
      <!-- <button mat-flat-button style="background-color:#D3AC2B; color:white" (click)="loginNav()">Login</button> -->
      <button mat-raised-button color="accent" (click)="loginNav()">Login</button>
      <button mat-stroked-button color="accent" (click)="registerNav()">Sign in</button>
      <!-- <button mat-stroked-button style="color:#D3AC2B; outline-color: #D3AC2B;"
        (click)="registerNav()">Register</button> -->
    </div>
  </div>
  <div class="content-section">
    <mat-sidenav-container>
      <mat-sidenav [class.mat-elevation-z5]="true" #drawer mode="over"
        [attr.role]="'dialog'"
        >
        <app-side-nav [categories]="categories"></app-side-nav>
      </mat-sidenav> 
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>


<ng-template #profileMenu>
  <div class="options-section" style="justify-content:center; flex:0">
    <button color="accent" style="height: 50px; width: 50px;" mat-fab [matMenuTriggerFor]="menu" aria-label="Profile">
      <mat-icon class="profile-icon">person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="profileNav()">
        <mat-icon>person_outline</mat-icon>
        <span>My profile</span>
      </button>
      <button mat-menu-item (click)="addNav()">
        <mat-icon>add</mat-icon>
        <span>Add article</span>
      </button>
      <button mat-menu-item (click)="supportNav()">
        <mat-icon>contact_support</mat-icon>
        <span>Report a problem</span>
      </button>
      <button mat-menu-item (click)="logOut()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</ng-template>