<div class="whole-section">
  <div class="header-section">
    <div class="hamburger-button">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </div>
    <div class="logo-section">
      <span>Logo</span>
    </div>
    <div class="search-section">
      <mat-form-field class="form">
        <mat-label>Search article</mat-label>
        <input matInput fxFlex placeholder="Ex. Golf 5" value="">
      </mat-form-field>
    </div>
    <div class="options-section">     
      <button mat-flat-button style="background-color:#F09000; color:white">Login</button>
      <button mat-stroked-button style="color:#F09000; outline-color: #F09000;">Register</button>
    </div>
  </div>
  <div class="content-section">
    <mat-sidenav-container>
      <mat-sidenav #drawer mode="side" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <div class="post-button">
          <button mat-flat-button style="font-weight:500; background-color:#8BE57D; color:white">Post article</button>
        </div>
        <app-side-nav [categories]="categories$ | async"></app-side-nav>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>