<div class="container">
    <div class="main-container">
        <a class="header">Novi artikal</a>
        <form [formGroup]="tFormGroup">
            <mat-form-field appearance="outline">
                <mat-label>Naslov</mat-label>
                <input formControlName="title" matInput>
            </mat-form-field>
            <div style="display:flex; flex:1; flex-direction:row">
                <mat-form-field style="flex:1; margin-right:10px" appearance="outline">
                    <mat-label>Kategorija</mat-label>
                    <mat-select (opened)="test()" formControlName="cat" [(value)]="selectedCategory" (selectionChange)="onChanged()">
                        <mat-option *ngFor="let cat of categories" value="{{cat.name}}">{{cat.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field style="flex:1; margin-left:10px;" appearance="outline">
                    <mat-label>Cijena</mat-label>
                    <input formControlName="price" matInput>
                    <span matTextSuffix>KM</span>
                </mat-form-field>
            </div>
            <mat-form-field appearance="outline">
                <mat-label>Detalji</mat-label>
                <textarea matInput formControlName="details" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
            <mat-radio-group color="primary" formControlName="newArticle">
                <mat-radio-button checked="true"  [value]="true">Novo</mat-radio-button>
                <mat-radio-button [value]="false">Korišteno</mat-radio-button>
            </mat-radio-group>
        </form>
        <div class="attributes-header">
            <a class="attributes-title">Osobine</a>
            <button mat-icon-button (click)="openDialog()">
                <mat-icon style="color:#333D51">edit</mat-icon>
            </button>
        </div>
        <div *ngIf="validAttributes().length > 0; else attribute_message" class="attribute-list">
            <div *ngFor="let a of validAttributes()" class="attr">
                <a>{{a.viewName}}</a>
                <a class="value-text">{{a.value}}</a>
            </div>
        </div>
        <div class="attributes-header">
            <a class="attributes-title">Slike</a>
            <button mat-icon-button (click)="fileinput.click()">
                <mat-icon style="color:#333D51">add</mat-icon>
                <input #fileinput accept="image/png,image/jpg" (change)="selectFile($event)" type="file" style="display:none">
            </button>
            
        </div>
        <div class="image-list-container" *ngIf="preview.length > 0; else photo_message">
            <div class="image-container"  *ngFor="let im of preview; let i = index">
                <button (click)="removeImage(preview[i])" mat-mini-fab class="remove-image"><mat-icon style="font-size:17px; height:17px; width:17px">remove_circle_outline</mat-icon></button>
                <img  [src]="preview[i]" style=" width: 100%; max-height: 100%; object-fit: contain;">
            </div>
        </div>
        <button mat-flat-button color="primary" class="submit-button" [disabled]="sending" (click)="submit()">Create</button>
    </div>
</div>

<ng-template #attribute_message>
    <div class="message-container">
        <a>Nema navedenih osobina.</a>
    </div>
</ng-template>

<ng-template #photo_message>
    <div class="message-container">
        <a>Nema dodanih slika.</a>
    </div>
</ng-template>