@import '../../_variables.scss';

.main-container
{
    display:flex;
    flex:1;
    flex-direction: row;
    height: 100%;
}

.right-container
{
    flex:1;
    background-color:map-get($md-silver-gray,200);
    display:flex;
    justify-content: center;
    align-items: center;
}

.left-container
{   
    display: flex;
    flex:1;
    background-color: map-get($md-light-blue,200);
    justify-content: center;
    align-items: center;
}

.login-card
{
    padding-top:35px;
    padding-bottom:35px;
    padding-left: 35px;
    padding-right:35px;
    flex:1;
    justify-content: center;
    justify-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-top: 10px;
    border-radius: 5px;
    max-height: 800px;
    max-width: 450px;
    max-width: 450px;
    min-width: 30px;
    min-height: 100px;
}


.register-link
{
    margin-top:15px;
    margin-left: auto;
    margin-right: auto;
    color:blue;
    cursor:pointer;
    display:flex
}

form > mat-form-field{
    display: inline;
    margin-bottom:10px
}

mat-form-field > mat-error{
    margin-bottom:10px;
}

@media (max-width:600px)
{
    .right-container{
        display:none;
    }
}

.image-container{
    display:flex;
    flex:1;
    max-width:700px;
}

.image-container > img{
    width:100%;
}