<div class="main-container">
    <div class="left-container">
        <mat-card class="login-card">
            <mat-form-field appearance="outline">
                <mat-label>Izaberi avatar</mat-label>
                <mat-select>
                  <mat-option>None</mat-option>
                  <mat-option value="option1"><img style="height:20px; width:20px"src="assets/avatar.png"> Option 1</mat-option>
                  <mat-option value="option2">Option 2</mat-option>
                  <mat-option value="option3">Option 3</mat-option>
                </mat-select>
              </mat-form-field> 
            <mat-form-field appearance="outline" >
                <mat-label>Ime</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Prezime</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Grad</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Mail</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Korisničko ime</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Lozinka</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <button class="login-button" mat-flat-button color="primary">Registruj se</button>
        </mat-card>
    </div>
    <div class="right-container">

    </div>
</div>