.img-style {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.lower-section
{   
    margin-left:15px;
    margin-right:15px;
    margin-top:10px;
    margin-bottom:5px;
    display: grid;
    flex:1;
    row-gap:40px;
    column-gap:16px;
    grid-template-columns: 1fr 1fr 1fr 
}

@media (max-width: 300px)
{
    .lower-section{
        grid-template-columns: 1fr;
    }
}

@media (min-width: 300px) and (max-width:750px)
{
    .lower-section{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .lower-section {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

@media (min-width:1000px)
{
    .lower-section{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

mat-card{
    flex:1;
}