.img-style {
    height:160px;
    width:100%;
    object-fit: cover;
}

.image-container{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
}

.lower-section {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
    display: grid;
    flex: 1;
    row-gap: 40px;
    column-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr
}

@media (max-width: 300px) {
    .lower-section {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 300px) and (max-width:750px) {
    .lower-section {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .lower-section {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:1000px) {
    .lower-section {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.card-header {
    display: flex;
    height:100%;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    flex:1;
}

mat-card {
    cursor: pointer;
    display:flex;
    padding: 8px;
    flex: 1;
    background-color: rgb(243, 243, 243);
    transition:0.1s ease;
}

mat-card > div {
    flex:1;
    display: grid;
    grid-template-rows: 1fr 0.5fr 0.1fr; /* Adjust the row heights */
    grid-gap: 10px; /* Adjust the gap between sections */
}

mat-card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 0.8;
}

.header {
    font-size: larger;
    color: #333D51;
    font-weight: 600;
    font-size: 20px;
    word-wrap: normal;
    overflow: hidden;
}

.card-content {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: 5px;
}

.price {
    flex:1;
    font-weight: 600;
    font-size: medium;
    color: #232323;
    align-self:flex-start;
}

.date {
    flex:1;
    text-align:end;
    font-weight: 100;
    font-style: italic;
    color:#707070;
    align-self:flex-end;

}

.buy {
    color: #D3AC2B;
}