<ng-container>
    <mat-card *ngFor="let a of articles" [routerLink]="['/article/', a.id]">
        <div>
            <div *ngIf="a.photoUrl!=null else noimage" class="image-container">
                <img class="img-style" mat-card-image src={{a.photoUrl}} onerror="this.src='./assets/default.jpg';">
            </div>
            <div class="card-header">
                <a class="header">{{a.title}}</a>
                <mat-icon class="new-icon" *ngIf="a.isNew" matTooltip="New">new_releases</mat-icon>
            </div>
            <!-- <mat-divider style="margin-top:10px; margin-bottom:10px; margin-right:4px; margin-left:4px;"></mat-divider> -->
            <div class="card-content">
                <div class="price">{{a.price}} KM</div>
                <div class="date">{{a.date | date:'d/M/yy'}}</div>
           </div>
        </div>
    </mat-card>
</ng-container>

<ng-template #nodata><div style="justify-self:center; align-self:center"><a>Nema sadrzaja</a></div></ng-template>
<ng-template #noimage>
    <div class="image-container">
        <img class="img-style" mat-card-image src="./assets/default.jpg">
    </div>
</ng-template>
